<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Piano con Javascript
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Piano con Javascript</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div *ngFor="let element of this.listElements" class="box" (click)="this.activateSound(element.numberSound)" [style.background-color]="element.color"></div>
  </div>
  
</ion-content>
